

# Snowflake connection
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=
SNOWFLAKE_WAREHOUSE=

# Snowflake targets
SNOWFLAKE_DATABASE=FASTMARKETS
SNOWFLAKE_RAW_SCHEMA=RAW
SNOWFLAKE_DBT_SCHEMA=DBT_DEV

# Source extract 
SOURCE_CSV_URL=
